<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <script src="https://kit.fontawesome.com/815e91b325.js" crossorigin="anonymous"></script>
        {% block title %} {% endblock %}
    </head>

    <body>

        {% block content %}

        {% endblock %}

        {% block footer %}
        <footer>This is the footer</footer>
        {% endblock %}
    </body>
</html>




