{% extends "banking_system/base.html" %} {% block title %}
<title>Customer</title>
{% endblock %} {% block content %}

<h3>Welcome to the Customer page</h3>
<p>Here you can see all the details of your account and transactions</p>
<hr /> 
<nav>
    <a href="/banking_system"> Home </a>
    <a href="{% url 'banking_system:make_transactions' %}">Transactions</a>
    <a href="{% url 'banking_system:create_account' %}">Loan-Account</a>
</nav> 
<section>
    <h3>Your Accounts</h3>
    <table>
        <tbody>
            <tr>
                <th>Account Id</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Account Balance</th>
            </tr>
            {% for account in accounts %}
            <tr>
                <td>
                    {% comment %} <a href="{% url 'banking_system:view_account_details' account.id %}">{{ account.id }}</a> {% endcomment %}
                    {{ account.id }}
                </td>
                <td>
                    {% comment %} <a href="{% url 'banking_system:view_account_details' account.id %}">{{ account.name }}</a> {% endcomment %}
                    {{ account.name }}
                </td>
                <td>{{ account.number }}</td>
                <td>{{ account.balance }} </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<hr />

{% endblock %}