<div id="customers-list">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name and surname</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Rank</th>
            </tr> 
        </thead>

        <tbody>
            {% if customers %} 
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.first_name }} {{ customer.last_name}}</td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.rank}}</td>
                    </tr>    
                {% endfor %} 
            {% endif %}
        </tbody>
    </table>
</div>