{% extends "banking_system/base.html" %}

{% block title %} <title>Test index</title> {% endblock %}

{% block content %}

<h2>Some text</h2>
<p>Remember to add the actual stuff to this page</p>

<hr>

<div>
    <h3>Create User</h3>
    <form>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="E-mail Address">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">

        <button
            hx-post="{% url 'banking_system:create_user' %}"
            hx-trigger="click"
            hx-swap="none"
            >Create</button> 
    </form>
</div>

<hr>

<div>
    <h3>Create Customer</h3>
    <form>
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="phone_number" placeholder="Phone Number">
        <input type="text" name="rank" placeholder="Rank">
        <input type="text" name="user_foreign_key" placeholder="User ID">

        <button
            hx-post="{% url 'banking_system:create_customer' %}"
            hx-trigger="click"
            hx-swap="none"
            >Create</button> 
    </form>
</div>

{% endblock %}

