{% extends "banking_system/base.html" %}

{% block title %} <title>Test index</title> {% endblock %}

{% block content %}

    <h2>Some text</h2>
    <p>Remember to add the actual stuff to this page</p>

    <hr>

    <div>
        <h3>Create User</h3>
        <form>
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="E-mail Address">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">

            <button
                hx-post="{% url 'banking_system:create_user' %}"
                hx-trigger="click"
                hx-swap="none"
                >Create</button> 
        </form>
    </div>

    <hr>

    <div>
        <h3>Create Customer</h3>
        <form>
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="phone_number" placeholder="Phone Number">
            <input type="text" name="rank" placeholder="Rank">
            <input type="text" name="user_foreign_key" placeholder="User ID">

            <button
                hx-post="{% url 'banking_system:create_customer' %}"
                hx-trigger="click"
                hx-swap="none"
                >Create</button> 
        </form>
    </div>

    <hr>

    {% comment %} <div 
        id="customers_list"
        hx-swap="outerHTML"
        hx-get="{% url 'banking_system:view_all_customers' %}"
        hx-trigger="load">
        <h3>All customers</h3>

        {% if customers %}
            <div>
                {% for customer in customers %}
                    <div>
                        <p>{{ customer.first_name }} {{ customer.last_name}} {{ customer.address }} {{ customer.phone_number }} {{ customer.rank}}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <hr> {% endcomment %}

    {% comment %} <div
        id="accounts_list"
        hx-get="{% url 'banking_system:view_all_accounts' %}"
        hx-trigger="load"
        hx-target="#accounts_list">
        <h3>All Accounts</h3>

        {% if accounts %}
            <div>
                {% for account in accounts %}
                    <div>
                        <p>{{ account.number }} {{ account.is_loan }} {{ account.customer_fk_id_id }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div> {% endcomment %}

    {% comment %} <hr>

    <div>
        <h3>Create Customer Account</h3>
        <form>
            <input type="text" name="customer_foreign_key" placeholder="Customer Foreign Key">

            <button
                hx-post="{% url 'banking_system:create_customer_account' %}"
                hx-trigger="click"
                hx-swap="none"
                >Create
            </button>
        </form>
    </div>  {% endcomment %}

    <hr>

    <div>
        <h3>Change Customer Rank</h3>

        <form>
            <input type="text" name="customer_primary_key" placeholder="Customer ID">
            <input type="text" name="new_rank" placeholder="Rank">

            <button
                hx-patch="{% url 'banking_system:change_customer_rank' %}"
                hx-trigger="click"
                hx-swap="none"
                >Change Rank</button>
        </form>
    </div>

{% endblock %}

