{% extends "banking_system/base.html" %} {% block title %}
<title>Transactions</title>
{% endblock %} {% block content %}

<h3>Welcome to the Transactions page</h3>
<hr />
<nav>
    <a href="/banking_system"> Home </a>
    <a href="{% url 'banking_system:create_account' %}">Loan-Account</a>
</nav>

<section>
    <h3>Make Transactions</h3>
    <form>
       {% csrf_token %}
        <input type="number" name="sender_account_number" placeholder="Sender Account Number" />
        <input type="number" name="receiver_account_number" placeholder="Receiver Account Number" />
        <input type="number" name="amount" placeholder="Amount" />
        <input type="text" name="text" placeholder="Text" />

        <button hx-post="{% url 'banking_system:make_transactions' %}" hx-trigger="click" hx-swap="none">
            Create Transaction
        </button>
    </form>
</section>

<hr>
    <h3>Transfer money to other bank</h3>

    <form>
        {% csrf_token %}
        <input type="text" name="sender_account_number" placeholder="Sender Account Number" />
        <input type="text" name="receiver_account_number" placeholder="Receiver Account Number" />
        <input type="text" name="amount" placeholder="amount" />
        <input type="text" name="text" placeholder="Text" />
        <br>

        <button hx-post="{% url 'banking_system:transfer_money_to_other_bank' %}" hx-trigger="click" hx-swap="none">
            Transfer money to other bank
        </button>
    </form>
<hr>

<section>
    <h3>Ledger List</h3>
    <div id="ledger_list" hx-target="#ledger_list" hx-get="{% url 'banking_system:ledger_list' %}" hx-trigger="load">
    </div>
</section>
{% endblock %}
