{% extends "banking_system/base.html" %} {% block title %}
<title>User</title> {% endblock %} {% block content %}

<h3>Welcome to the User page</h3>
<hr />

<nav>
    <a href="/banking_system"> Back </a>
    <a href="{% url 'banking_system:create_customer' %}">Create Customer</a>
    <a href="{% url 'banking_system:change_customer_rank' %}">Change Rank</a>
</nav>
<hr />

<div>
    <h3>Create User</h3>
    <form action="{% url 'login_app:sign_up' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="user" placeholder="User Name">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <button>Create</button>
    </form>
<!--
    <form>
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="email" placeholder="E-mail Address" />
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />

        <button hx-post="{% url 'banking_system:create_user' %}" hx-trigger="click" hx-swap="none">
            Create
        </button>
    </form>
-->
</div>

<hr />
{% endblock %}
