
<div id="customer_movements_list">
    {% if customer_accounts %}
        {% for customer_account in customer_accounts %}
            <div id="customer_account">
                {{ customer_account.id }} {{ customer_account.name }} {{ customer_account.number }} {{ customer_account.is_loan }}
            <div> 
        {% endfor %}
    {% endif %}

    {% if customer_account_movements %}
        {% for customer_account_movement in customer_account_movements %}
            <div id="customer_account_movement">
                {{customer_account_movement.amount }} {{ customer_account_movement.text }}
            </div>
        {% endfor %}
    {% endif %}
</div>